body {
	background-color: rgb(188,175,143);
  }

  main {
	background-color: #f2f2f2;
  }

  
  section div {
	margin-top: 70px;
	padding: 15px 10% 15px 10%;
	background-color: white;
  }

  #product-grid {
	max-width: 1300px;
  }

  .product-price {
	position: absolute;
	color: black;
    bottom: 0;
	right: 0;
    padding: 10px;
	font-size: 1.3rem;
  }

  .image-product:hover + .product-price {
	transition: all .1s ease-in-out;
	color: rgb(188,175,143);
  }